<%- include('../../partials/header.ejs') %>

    <div>
        <div class="my-container">
            <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-12 p-5">
                    <h1>Welcome to JUST Campus Magazine</h1>
                    <p>Jashore University of Science and Technology</p>
                </div>

                <div class="col col-lg-6 col-md-6 col-sm-12 p-5">
                    <div class="card">
                        <div class="card-body">
                            <h4>Login With Email</h4>
                            <p>** Please use your institute eamil</p>
                            <div class="card card-body">
                                <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="/auth/google"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Login With Google</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>